<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764872486060-vfpvfbtfjn9mki810fjcuu2q73k7nu3f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764872486060-vfpvfbtfjn9mki810fjcuu2q73k7nu3f</string>
	<key>API_KEY</key>
	<string>AIzaSyC57cEdjaO1OLapAUJVuMqvt_w9mzYmqUo</string>
	<key>GCM_SENDER_ID</key>
	<string>764872486060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.test</string>
	<key>PROJECT_ID</key>
	<string>hello-d49e0</string>
	<key>STORAGE_BUCKET</key>
	<string>hello-d49e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764872486060:ios:b3e78b018c1f7f95118309</string>
</dict>
</plist>